<div class="fill justify-content-center mat-elevation-z8 p-5 m-3">
    <div class="loading-shade" *ngIf="isLoading">
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </div>
    <div *ngIf="isLoading == false" class="justify-content-center">
        <span class="header"><strong>Charts</strong></span>
        <hr>
        <div class="row pb-5">
            <div class="col-6">
                <div class="m-5" style="display: block">
                    <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels"
                        [chartType]="pieChartType"></canvas>
                </div>
            </div>
            <div class="col-6">
                <div class="m-5" style="display: block">
                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                        [legend]="barChartLegend" [chartType]="barChartType">
                    </canvas>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- <div class="col">
                <div class="m-5" style="display: block">
                    <canvas baseChart [data]="lineChartData" [labels]="lineChartLabels"
                        [chartType]="lineChartType"></canvas>
                </div>
            </div>-->
        </div>
    </div>
</div>
